@font-face {
    font-family: 'GurbaniAkharThick';
    src: url('/static/GurbaniAkharThick.ttf') format('truetype');
}

html, body {
    margin: 0;
    background: transparent;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.top-aligned-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.gurmukhi-1 {
    font-family: 'GurbaniAkharThick';
}
