@font-face {
    font-family: 'Gurblipi';
    src: url('./assets/fonts/AmrLipi/AMRLIPI.TTF');
}

@font-face {
    font-family: 'Anmol_Regular';
    src: url('./assets/fonts/AnmolLipi/ANMOL_.TTF');
}

@font-face {
    font-family: 'Gurmukhi';
    src: url('./assets/fonts/GurbaniAkhar/GUAK_TH.TTF');
}

* {
    padding: 0;
    margin: 0;
}

.gurmukhi-font-1 {
    font-family: 'Gurblipi';
}
  
.gurmukhi-font-2 {
    font-family: 'Gurmukhi';
}